{
  "openapi": "3.0.1",
  "info": {
    "title": "Default module",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tenbytecdn.com/v1/stream",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Library"
    },
    {
      "name": "Folder"
    },
    {
      "name": "Video"
    },
    {
      "name": "Subtitle"
    },
    {
      "name": "Video Thumbnails"
    },
    {
      "name": "Transcoding Profiles"
    },
    {
      "name": "Player Themes"
    },
    {
      "name": "Video Chapter"
    },
    {
      "name": "Webhook Endpoints"
    },
    {
      "name": "Webhook Deliveries"
    },
    {
      "name": "Security"
    },
    {
      "name": "Video Multipart Upload"
    },
    {
      "name": "Webhook"
    },
    {
      "name": "Migration Jobs"
    }
  ],
  "paths": {
    "/v1/libraries": {
      "post": {
        "summary": "Create Library",
        "deprecated": false,
        "description": "Create a new video library within your Tenbyte account.\nLibraries are used to organize video assets, folders, and related webhooks.",
        "tags": [
          "Library"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The display name of the library. This identifies the library."
                  },
                  "region": {
                    "type": "string",
                    "description": "Deployment region or storage zone for the library."
                  },
                  "usage_type": {
                    "type": "string",
                    "description": "Defines how the library will be used."
                  },
                  "description": {
                    "type": "string",
                    "description": "Short summary of what this library is used for."
                  },
                  "default_privacy": {
                    "type": "string",
                    "description": "Sets the default privacy mode for uploaded assets."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of labels or keywords to categorize and quickly filter libraries (e.g., [\"marketing\", \"training\", \"internal\"])."
                  }
                },
                "required": [
                  "name",
                  "region",
                  "usage_type"
                ]
              },
              "example": {
                "name": "Product Launch Video",
                "usage_type": "marketing",
                "description": "Videos for product launches and announcements.",
                "default_privacy": "unlisted",
                "tags": [
                  "product",
                  "launch",
                  "marketing"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "updated_by": {
                          "type": "string"
                        },
                        "distribution": {
                          "type": "object",
                          "properties": {
                            "distribution_id": {
                              "type": "string"
                            },
                            "distribution_url": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "distribution_id",
                            "distribution_url"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "usage_type": {
                          "type": "string"
                        },
                        "default_privacy": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "organization_id": {
                          "type": "string"
                        },
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "video_count": {
                              "type": "integer"
                            },
                            "storage_used": {
                              "type": "integer"
                            },
                            "video_duration": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "video_count",
                            "storage_used",
                            "video_duration"
                          ]
                        }
                      },
                      "required": [
                        "updated_at",
                        "created_at",
                        "created_by",
                        "updated_by",
                        "distribution",
                        "name",
                        "usage_type",
                        "default_privacy",
                        "status",
                        "region",
                        "description",
                        "tags",
                        "id",
                        "organization_id",
                        "metrics"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "data": {
                    "updated_at": "2025-10-16T10:28:09.121621765+06:00",
                    "created_at": "2025-10-16T10:28:09.121621765+06:00",
                    "created_by": "2fa3fe27-ffcd-470b-becf-83f6f22a93ab",
                    "updated_by": null,
                    "deleted_at": null,
                    "region": "us-east-1",
                    "description": "Videos for product launches and announcements.",
                    "default_privacy": "unlisted",
                    "tags": [
                      "product",
                      "launch",
                      "marketing"
                    ],
                    "status": "provisioning",
                    "usage_type": "marketing",
                    "name": "Product Launch Videos",
                    "security": {
                      "whitelist_referrer_policy": null,
                      "black_country_policy": null
                    },
                    "id": "ab0507fa-3020-4cfa-8f6a-a5864e65f06c",
                    "distribution_id": "00000000-0000-0000-0000-000000000000",
                    "organization_id": "677826f5-1aea-4cba-8973-043cdbc60f35"
                  },
                  "message": "Library Created Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "errors",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "errors": [
                    {
                      "field": "field_name",
                      "code": "validation_required",
                      "message": "This field is required"
                    }
                  ],
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "summary": "List Libraries",
        "deprecated": false,
        "description": "Retrieve a paginated list of all libraries associated with your account.\nYou can filter by visibility or creation date.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "",
            "required": false,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "required": false,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[name][eq]",
            "in": "query",
            "description": "",
            "required": false,
            "example": "Product Launch Videos updated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[distribution_id][eq]",
            "in": "query",
            "description": "",
            "required": false,
            "example": "14f16482-3479-40dd-8c33-906f731c3062",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "",
            "required": false,
            "example": "active",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "",
            "required": false,
            "example": "name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "updated_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "string"
                          },
                          "updated_by": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "usage_type": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "default_privacy": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "distribution_id": {
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "updated_at",
                          "created_at",
                          "created_by",
                          "updated_by",
                          "name",
                          "usage_type",
                          "description",
                          "default_privacy",
                          "status",
                          "region",
                          "id",
                          "distribution_id",
                          "organization_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "links": {
                          "type": "object",
                          "properties": {
                            "self": {
                              "type": "string"
                            },
                            "first": {
                              "type": "string"
                            },
                            "last": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "self",
                            "first",
                            "last"
                          ]
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer"
                            },
                            "page_size": {
                              "type": "integer"
                            },
                            "total": {
                              "type": "integer"
                            },
                            "total_pages": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "page",
                            "page_size",
                            "total",
                            "total_pages"
                          ]
                        }
                      },
                      "required": [
                        "links",
                        "pagination"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "meta",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "updated_at": "2025-10-09T10:56:43.735141Z",
                      "created_at": "2025-10-09T10:56:43.735141Z",
                      "created_by": "2fa3fe27-ffcd-470b-becf-83f6f22a93ab",
                      "updated_by": null,
                      "name": "Product Launch Videos",
                      "usage_type": "marketing",
                      "description": "Videos for product launches and announcements.",
                      "default_privacy": "unlisted",
                      "status": "provisioning",
                      "region": "us-east-1",
                      "id": "5f6d1de8-6499-4bb0-8d9c-13cecf79752a",
                      "distribution_id": "00000000-0000-0000-0000-000000000000",
                      "organization_id": "677826f5-1aea-4cba-8973-043cdbc60f35"
                    },
                    {
                      "updated_at": "2025-10-09T10:58:09.093656Z",
                      "created_at": "2025-10-09T10:58:08.346044Z",
                      "created_by": "2fa3fe27-ffcd-470b-becf-83f6f22a93ab",
                      "updated_by": null,
                      "name": "Product Launch Videos",
                      "usage_type": "marketing",
                      "description": "Videos for product launches and announcements.",
                      "default_privacy": "unlisted",
                      "status": "provisioning",
                      "region": "us-east-1",
                      "id": "7eb23480-76fc-4103-93db-52c0f0763839",
                      "distribution_id": "efe055d2-f4f5-41cf-8068-a6454016c0ea",
                      "organization_id": "677826f5-1aea-4cba-8973-043cdbc60f35"
                    }
                  ],
                  "meta": {
                    "links": {
                      "self": "/v1/libraries/?limit=20&page=1",
                      "first": "/v1/libraries/?limit=20&page=1",
                      "last": "/v1/libraries/?limit=20&page=1"
                    },
                    "pagination": {
                      "page": 1,
                      "page_size": 20,
                      "total": 2,
                      "total_pages": 1
                    }
                  },
                  "message": "Libraries Fetched Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/libraries/{libraryId}": {
      "get": {
        "summary": "Get Library Details",
        "deprecated": false,
        "description": "Retrieve detailed information about a specific library, including its metadata, visibility, and storage usage.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library to retrieve details for.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "updated_by": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "usage_type": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "default_privacy": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "distribution_id": {
                          "type": "string"
                        },
                        "organization_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "updated_at",
                        "created_at",
                        "created_by",
                        "updated_by",
                        "name",
                        "usage_type",
                        "description",
                        "default_privacy",
                        "status",
                        "region",
                        "id",
                        "distribution_id",
                        "organization_id"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "data": {
                    "updated_at": "2025-10-09T10:58:09.093656Z",
                    "created_at": "2025-10-09T10:58:08.346044Z",
                    "created_by": "2fa3fe27-ffcd-470b-becf-83f6f22a93ab",
                    "updated_by": null,
                    "name": "Product Launch Videos",
                    "usage_type": "marketing",
                    "description": "Videos for product launches and announcements.",
                    "default_privacy": "unlisted",
                    "status": "provisioning",
                    "region": "us-east-1",
                    "id": "7eb23480-76fc-4103-93db-52c0f0763839",
                    "distribution_id": "efe055d2-f4f5-41cf-8068-a6454016c0ea",
                    "organization_id": "677826f5-1aea-4cba-8973-043cdbc60f35"
                  },
                  "message": "Library Fetched Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Library ",
        "deprecated": false,
        "description": "Modify an existing library’s information such as name, description, or visibility.\nUse PATCH for partial updates.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The display name of the library."
                  },
                  "region": {
                    "type": "string",
                    "description": "Deployment region or storage zone for the library."
                  },
                  "usage_type": {
                    "type": "string",
                    "description": "Defines how the library will be used."
                  },
                  "description": {
                    "type": "string",
                    "description": "Short summary of what this library is used for."
                  },
                  "default_privacy": {
                    "type": "string",
                    "description": "Sets the default privacy mode for uploaded assets."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of labels or keywords to categorize and quickly filter libraries (e.g., [\"marketing\", \"training\", \"internal\"])."
                  }
                },
                "required": [
                  "description"
                ]
              },
              "example": {
                "name": "Product Launch Videos",
                "region": "us-east",
                "usage_type": "marketing-updated",
                "description": "Videos for product launches and announcements updated.",
                "default_privacy": "unlisted",
                "tags": [
                  "product",
                  "launch",
                  "marketing",
                  "testing"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "string"
                        },
                        "updated_by": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "usage_type": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "default_privacy": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "distribution_id": {
                          "type": "string"
                        },
                        "organization_id": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "updated_at",
                        "created_at",
                        "created_by",
                        "updated_by",
                        "name",
                        "usage_type",
                        "description",
                        "default_privacy",
                        "status",
                        "region",
                        "id",
                        "distribution_id",
                        "organization_id",
                        "tags"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "data": {
                    "updated_at": "2025-10-09T15:02:10.336839114+06:00",
                    "created_at": "2025-10-09T14:44:30.511786Z",
                    "created_by": "2fa3fe27-ffcd-470b-becf-83f6f22a93ab",
                    "updated_by": "2fa3fe27-ffcd-470b-becf-83f6f22a93ab",
                    "name": "Product Launch Videos",
                    "usage_type": "marketing",
                    "description": "Videos for product launches and announcements.",
                    "default_privacy": "unlisted",
                    "status": "provisioning",
                    "region": "us-east-1",
                    "id": "5c59072e-2762-4ae9-889e-4ffbe32f7662",
                    "distribution_id": "010a8dad-d95c-4331-be79-59c1f0642363",
                    "organization_id": "677826f5-1aea-4cba-8973-043cdbc60f35",
                    "tags": [
                      "product",
                      "launch",
                      "marketing"
                    ]
                  },
                  "message": "Library Updated Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "errors",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "errors": [
                    {
                      "field": "field_name",
                      "code": "validation_required",
                      "message": "This field is required"
                    }
                  ],
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Library",
        "deprecated": false,
        "description": "Delete an existing video library from your Tenbyte account.\nThis action permanently removes the library along with all associated folders, videos, and webhooks.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Library Deleted Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/libraries/{libraryId}/metrics": {
      "get": {
        "summary": "Library Metrics",
        "deprecated": false,
        "description": "Fetch usage and performance metrics for a specific library.\nReturns total video count, total storage used (in bytes), and combined video duration in seconds.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/libraries/{libraryId}/folders": {
      "post": {
        "summary": "Create Folder",
        "deprecated": false,
        "description": "Create a new folder in this library.\nFolders are used to organize video assets.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The display name of the folder. Used to identify and reference the folder in API requests or dashboards."
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "ID of the parent folder this item belongs to. Use null for root level."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "New Folder",
                "parent_id": "59ac8aa5-c569-4c82-8e3d-c10dd026813a"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "library_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "created_at",
                        "updated_at",
                        "name",
                        "id",
                        "library_id"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "data": {
                    "created_at": "2025-11-10T14:35:09.411038+06:00",
                    "updated_at": "2025-11-10T14:35:09.411038+06:00",
                    "name": "New Folder",
                    "id": "8946e490-2cf3-48d2-82ae-99ab8e65a795",
                    "library_id": "314221a1-3cbf-4d3c-846e-f6c22bc43064"
                  },
                  "message": "Folder Created Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "errors",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "errors": [
                    {
                      "field": "field_name",
                      "code": "validation_required",
                      "message": "This field is required"
                    }
                  ],
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "summary": "List Folders",
        "deprecated": false,
        "description": "Retrieves a list of all folders within a specified library.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "",
            "required": false,
            "example": "2a7635e7-ea0a-4f67-9119-0a6e37f0d460",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "example": {
                  "data": [
                    {
                      "id": "fcd82c40-4d0c-4cc7-a357-0774e2cab7b8",
                      "name": "Product",
                      "created_at": "2025-10-09T16:32:15.870776Z",
                      "updated_at": "2025-10-09T16:32:15.870776Z"
                    }
                  ],
                  "meta": {
                    "links": {
                      "self": "/v1/libraries/5c59072e-2762-4ae9-889e-4ffbe32f7662/folders?limit=20&page=1",
                      "first": "/v1/libraries/5c59072e-2762-4ae9-889e-4ffbe32f7662/folders?limit=20&page=1",
                      "last": "/v1/libraries/5c59072e-2762-4ae9-889e-4ffbe32f7662/folders?limit=20&page=1"
                    },
                    "pagination": {
                      "page": 1,
                      "page_size": 20,
                      "total": 1,
                      "total_pages": 1
                    }
                  },
                  "message": "Folders Fetched Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/libraries/{libraryId}/folders/{folderId}": {
      "get": {
        "summary": "Get Folder Details",
        "deprecated": false,
        "description": "Retrieve detailed information about a specific folder.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "Unique identifier of the folder.",
            "required": true,
            "example": "a7f590b4-3fd7-42a4-82bb-a7cfa6aa9d04",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "library_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "created_at",
                        "updated_at",
                        "name",
                        "id",
                        "library_id"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "data": {
                    "created_at": "2025-11-10T14:35:09.411038+06:00",
                    "updated_at": "2025-11-10T14:42:38.812459+06:00",
                    "name": "New Folder",
                    "id": "8946e490-2cf3-48d2-82ae-99ab8e65a795",
                    "library_id": "314221a1-3cbf-4d3c-846e-f6c22bc43064"
                  },
                  "message": "Folder Fetched Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Folder",
        "deprecated": false,
        "description": "Modify an existing folder’s information such as name.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "Unique identifier of the folder.",
            "required": true,
            "example": "a7f590b4-3fd7-42a4-82bb-a7cfa6aa9d04",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "New Folder",
                "parent_id": "59ac8aa5-c569-4c82-8e3d-c10dd026813a"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "library_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "created_at",
                        "updated_at",
                        "name",
                        "id",
                        "library_id"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "data": {
                    "created_at": "2025-11-10T14:35:09.411038+06:00",
                    "updated_at": "2025-11-10T14:42:38.81245908+06:00",
                    "name": "New Folder",
                    "id": "8946e490-2cf3-48d2-82ae-99ab8e65a795",
                    "library_id": "314221a1-3cbf-4d3c-846e-f6c22bc43064"
                  },
                  "message": "Folder Updated Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Folder",
        "deprecated": false,
        "description": "Deletes a specific folder from a given library. This action permanently removes the folder.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "Unique identifier of the folder.",
            "required": true,
            "example": "a7f590b4-3fd7-42a4-82bb-a7cfa6aa9d04",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/libraries/{libraryId}/folders/{folderId}/move": {
      "patch": {
        "summary": "Move Folder",
        "deprecated": false,
        "description": "Moves a folder to a new parent location within the same library.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "314221a1-3cbf-4d3c-846e-f6c22bc43064",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "Unique identifier of the folder.",
            "required": true,
            "example": "a7f590b4-3fd7-42a4-82bb-a7cfa6aa9d04",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_parent_id": {
                    "type": "string",
                    "description": "This will be associated as parent folder for the one we provide in the parameter."
                  }
                }
              },
              "example": {
                "new_parent_id": "5df82c45-defc-4f75-9caa-535c466e9200"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "new_parent_id": {
                      "type": "string",
                      "description": "new parent id for the moving folder"
                    }
                  },
                  "required": [
                    "new_parent_id"
                  ]
                },
                "example": {
                  "data": {
                    "created_at": "2025-10-20T15:37:53.084332+06:00",
                    "updated_at": "2025-10-20T15:38:52.963289858+06:00",
                    "parent_id": "5df82c45-defc-4f75-9caa-535c466e9200",
                    "name": "Folder New 2",
                    "id": "a2cf2ed7-90ea-4770-9995-082bc6f96946",
                    "library_id": "ed286498-36a0-48b0-9211-030ddfed2bc0"
                  },
                  "message": "Folder Updated Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Resource not found",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "errors",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "errors": [
                    {
                      "field": "field_name",
                      "code": "validation_required",
                      "message": "This field is required"
                    }
                  ],
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Internal server error",
                  "success": false
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/libraries/{libraryId}/folders/bulk/move": {
      "patch": {
        "summary": "Bulk Move Folder",
        "deprecated": false,
        "description": "Moves multiple folders to a new parent folder within the same library in a single operation.\nThis endpoint is useful for reorganizing folder structures efficiently without making multiple API calls.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "description": "Unique identifier of the library.",
            "required": true,
            "example": "a7f590b4-3fd7-42a4-82bb-a7cfa6aa9d04",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_parent_id": {
                    "type": "string",
                    "description": "New parent id for the moving folder"
                  },
                  "folder_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Single id of the moving folder"
                    },
                    "description": "Array of the moving folder's ids"
                  }
                },
                "required": [
                  "new_parent_id",
                  "folder_ids"
                ]
              },
              "example": {
                "new_parent_id": "59ac8aa5-c569-4c82-8e3d-c10dd026813a",
                "folder_ids": [
                  "7ed64692-5a5a-4d21-aef1-63c73ea5650e",
                  "0336d0c2-c1aa-4041-b956-1d4afd2935e7"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "example": {
                  "message": "Folders Updated Successfully",
                  "success": true
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "message": "Invalid Request",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "success"
                  ]
                },
                "example": {
                  "code": "auth_type_not_found",
                  "message": "Could not determine authentication type from request. Please provide a valid Authorization header or X-API-Key header.",
                  "success": false
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
[...]
